body {
background-color: #e5e5d8;
font-family: sans-serif;
text-align: center;
padding: 20px;
font-size: 18pt;
}
img {
  width :50%;
}

h1 {
  font-size: 75pt;
  font-style: Bold;
  font-style: italic;
}
h2 {
  font-size: 50pt;
  font-style: italic;
}
table {
  padding-left: 35%;
  padding-right:35%;
}
